.btn-primary{
	background-color: transparent;
	border-color: #fff;
	color: #7C5562;
	font-weight: 400;
	font-size: 30px;

}


#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -2;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

.btn-primary:hover {
    color: #7C5562;
    background: rgb(254, 254, 254); /* Fallback for older browsers without RGBA-support */
    background: rgba(254, 254, 254, 0.4);
    border-color: #fff;
}

 .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
  background-color: #5CC2C3;
  background: rgb(92, 194, 195); /* Fallback for older browsers without RGBA-support */
  background: rgba(92, 194, 195, 0.5);
  border-color: #fff;
}


h1{
	 font-family: Herculanum, "Eras Demi ITC", sans-serif;
	 color: #7C5562;
	 font-size: 5rem;
	 font-weight: 400;
}

.hero{
	margin: 15em auto;
}


#logo{
	opacity: .42;
	height: 27.5vh;
}


.play{
	margin-top: 3rem;
	margin-bottom: 7.5rem;
}




