body {
    overflow: hidden;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.containerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Styles for elements of page when loading the start and objective shapes. */
#firstContainerDiv {
    width: 250px;
}

.topShapeDiv {
    margin-bottom: 100px;
}

.shapeDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 170px;
    width: 100%;
}

.shapeDivText {
    display: inline-block;
    text-align: center;
    font-size: 50px;
    width: 100%;
}

.shapeDivShape {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#startShape, #objShape {
    width: 80%;
    height: 80%;
}

/* Styles for elements of page when loading the preinitialized shape relations. */
#secondContainerDiv {
    display: none;
    width: 540px;
}

#levelDisplay {
    text-align: center;
    width: 100%;
}

.shapeRelationsContainer {
    border: 1px solid black;
    padding: 20px 0;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.topRow {
    margin-bottom: 20px;
}

.shapeRelationDiv {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 230px;
    height: 230px;
}

.shapeRelationDiv:hover{
    background-color: #F0F8FF;
}

.shapeRelation {
    width: 80%;
    height: 80%;
}

/* Styles for elements of user input/gameplay page. */
#thirdContainerDiv {
    display: none;
    width: 700px;
}

.pastInputContainer {
    width: 100%;
    margin-bottom: 100px;
}

#pastInputText {
    font-size: 20px;
    width: 100%;
}

#pastInputDiv {
    display: inline-block;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: scroll;
}

.inputShapesContainer {
    width: 400px;
}

.inputShapeDiv {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.inputShape {
    cursor: pointer;
    width: 80%;
    height: 80%;
}