body {
    overflow: hidden;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.containerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Styles for elements of page when loading the start and objective shapes. */
#firstContainerDiv {
    width: 250px;
}

.topShapeDiv {
    margin-bottom: 100px;
}

.shapeDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 170px;
    width: 100%;
}

.shapeDivText {
    display: inline-block;
    text-align: center;
    font-size: 50px;
    width: 100%;
}

.shapeDivShape {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#startShape, #objShape {
    width: 80%;
    height: 80%;
}

#nextButton {
    position: absolute;
    right: 15%;
    top: 50%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Styles for elements of page when loading the preinitialized shape relations. */
#secondContainerDiv {
    display: none;
    width: 540px;
}

#levelDisplay {
    text-align: center;
    width: 100%;
}

.shapeRelationsContainer {
    border: 1px solid black;
    padding: 20px 0;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.topRow {
    margin-bottom: 20px;
}

.shapeRelationDiv {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 230px;
    height: 230px;
}

.shapeRelationDiv:hover{
    background-color: #F0F8FF;
}

.shapeRelation {
    width: 80%;
    height: 80%;
}

/* Styles for elements of user input/gameplay page. */
#thirdContainerDiv {
    display: none;
    width: 700px;
}

.pastInputContainer, .traversedPathsContainer {
    width: 100%;
    margin-bottom: 30px;
}

#pastInputText, #traversedPathsText {
    font-size: 20px;
    width: 100%;
}

#pastInputDiv, #traversedPathsDiv {
    display: inline-block;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: scroll;
}

#traversedPathsDiv {
    height: 200px;
}

.inputShapesContainer {
    width: auto;
}

.inputShapeDiv, .traversalPathDiv {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.traversalPathDiv {
    height: 200px;
    width: 200px;
}

.inputShape {
    cursor: pointer;
    width: 80%;
    height: 80%;
}

.traversalPath {
    width: 80%;
    height: 80%;
}

/* Styles for user in-game stats. */
#userStatsContainer {
    position: absolute;
    top: 50px;
    left: 10%;
}

.userStats {
    width: 100%;
}

/* Styles for pop up windows. */
.popUpContainer {
    position: relative;
    padding-top: 8%;
    padding-bottom: 10%;
    text-align: center;
    height: auto;
}

/* The Modal (background) */
.popUpModal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.popUpModalContent {
    background-size: 100% 100%;
    background-color: white;
    border: 1px solid #888;
    width: 590px;
    height: auto;
    border-radius: 15px;
    text-align: center;
}

#popUpTitle {
    display: inline-block;
    font-size: 50px;
}

#popUpMsg1 {
    display: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#popUpMsg2 {
    display: none;
    font-size: 40px;
}

.popUpButtonsDiv {
    margin-top: 30px;
    width: 100%;
    display: inline-block;
}

.popUpButton {
    white-space: nowrap;
    width: 65%;
    height: 50px;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 0px;
    border: solid 3px black;
    cursor: pointer;
    outline: none;
}

.popUpButton:hover {
    color: white;
    background-color: black;
}